-i https://pypi.org/simple
asgiref==3.11.0; python_version >= '3.9'
certifi==2025.11.12; python_version >= '3.7'
cffi==2.0.0; python_version >= '3.9'
charset-normalizer==3.4.4; python_version >= '3.7'
cryptography==46.0.3; python_version >= '3.8' and python_full_version not in '3.9.0, 3.9.1'
django==6.0; python_version >= '3.12'
django-allauth[headless]==65.13.1; python_version >= '3.8'
django-cors-headers==4.9.0; python_version >= '3.9'
djangorestframework==3.16.1; python_version >= '3.9'
fido2==2.0.0; python_version >= '3.10' and python_version < '4'
idna==3.11; python_version >= '3.8'
mysqlclient==2.2.7; python_version >= '3.8'
pycparser==2.23; python_version >= '3.8'
pyjwt[crypto]==2.10.1; python_version >= '3.9'
qrcode==8.2; python_version >= '3.9' and python_version < '4.0'
requests==2.32.5; python_version >= '3.9'
sqlparse==0.5.5; python_version >= '3.8'
urllib3==2.6.2; python_version >= '3.9'
